.section-our-goal{
  background-image: url('./src/img/our-goal-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $white;
}

.suptitle{
  font-size: 2rem;
  color: $white;
  margin-bottom: 3rem;
}

.our-goal{
  padding: 10rem 0;
  width: 71.2rem;
}

.main-title--white--lh6{
  line-height: 6rem;

  @include breakpoint($md){
    line-height: 5rem;
  }
}