/*  GLOGAL-STYLES
==================== */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #333;
    font-weight: 400;
    color: #fff;
}


.btn{
    background-color: transparent;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
}


.container{
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}


.title{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    color: #fff;
}


.text{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
}




main{
    background-image: url("/CraftPC/img/mainBG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  HEADER-START
==================== */
.header{
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1000;
}


.header__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}


.nav a{
    color: #fff;

}


.nav__link{
    transition: color .1s linear;
}


.nav__link:hover{
    color: rgb(124, 106, 250)
}


.header__btn{
    background: linear-gradient(90deg, rgb(200, 154, 252) 0%, rgb(124, 106, 250) 100%);
    transition: color .1s linear;
    position: relative;
    z-index: 100;

}


.header__btn::after{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: #7c6afa;
    opacity: 0;
    transition: opacity .1s linear;
}


.header__btn:hover:after{
    opacity: 1;
}



.header__btn:hover{
   color: #333

}


.nav__link:not(:last-child){
    margin-right:56px;
}

/*  HEADER-END
==================== */




/*  INTRO-START
==================== */
.intro{
    background-image: url("../img/intro/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 250px;
}


.intro__title{
    max-width: 920px;
    color: #fff;
    font-weight: 700;
    font-size: 64px;
    line-height: 89.6px;
    margin: 0;
    margin-bottom: 60px;
}


.stat__wrapper{
    display: flex;
    gap: 30px;
}


.stat__item{
    padding: 20px 30px;
    background: #121212;
    max-width: 110px;
    align-items: center;
    min-width: 110px;
}


.stat__item div{
    display: block;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    line-height: 50px;
    text-align: center;
}


.stat__item p{
    font-size: 16px;
    color: #fff;
    opacity: .4;
    text-align: center;
}


.order{
    background-color: #121212;
    margin-bottom: 200px;
}


.order__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}


.intro__btn{
    background: linear-gradient(90deg, rgba(223,89,80,1) 0%, rgba(69,16,70,1) 100%);
    transition: color .1s linear;
    position: relative;
    z-index: 100;
}


/* .intro__btn:hover{
    color: rgb(124, 106, 250);
} */


.intro__btn::after{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: #9b394c;
    opacity: 0;
    transition: opacity .1s linear;
}


.intro__btn:hover:after{
    opacity: 1;
}




.participant{
    display: flex;
}


.participant__text{
    color: #fff;
    opacity: .4;
    margin-right: 30px;
}


.participant__num{
    color: #fff;
}


.participant--mb{
    margin-bottom: 10px;
}


.earned__sup-block{
    margin-bottom: 8px;
}


.earned__text{
    color: #fff;
    opacity: .4;
    margin-right: 30px;
}


.earned__num{
    color: #fff;
}


.earned__sub-block span{
    color: #fff;
    opacity: .4;
}


.earned__sub-block{
    padding-top: 8px;
    border-top: 6px solid #fff;
    display: flex;
    justify-content: space-between;
    width: 714px;
    position: relative;
}


.earned__sub-block::after{
    position: absolute;
    content: "";
    width: 440px;
    height: 6px;
    top: -6px;
    left: 0;
    z-index: 10;
    background: linear-gradient(90deg, rgba(223,89,80,1) 0%, rgba(69,16,70,1) 100%);
}


/*  INTRO-END
==================== */




/*  WHAT_WE_DO-START
==================== */
.do__wrapper{
    display: flex;
    gap: 140px;
    margin-bottom: 200px;
}


.do__image{
    width: 525px;
    height: 500px;
    border: 20px solid;
    border-image: linear-gradient(90deg, rgb(200, 154, 252) 0%, rgb(124, 106, 250) 100%);
    border-image-slice: 1;
    position: relative;

}


.do-img{
    position: absolute;
    top: 75px;
    left: 20px;
    z-index: 100;
    width: 100%;
    max-width: 446px;
    height: auto;
    max-height: 446px;
}


.do__block{
    max-width: 630px;
}


.do__title{
    margin-top: 60px;
    margin-bottom: 40px;
}


/*  WHAT_WE_DO-END
==================== */




/*  FAST_START-START
==================== */
.fast__title__block{
    position: relative;
    margin-bottom: 80px;
}


.fast__title{
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 120px;
}


.load{
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 100;
}


.text__fast{
    max-width: 410px;
    opacity: .5;
}


.fast__start{
    display: flex;
    margin-bottom: 200px;

}


.fast__item{
    width: 25%;
}


.fast__start__text{
    opacity: .5;
    width: 306px;
    font-size: 14px;
}


.prosent{
    position: relative;
    margin-bottom: 140px;
}


.prosent__1::after{
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 90px;
    position: absolute;
    z-index: 100;
    background: linear-gradient(90deg, rgb(200, 154, 252) 0%, rgb(124, 106, 250) 100%);

}


.prosent__2::after{
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 100px;
    position: absolute;
    z-index: 100;
    background: linear-gradient(250deg, rgb(200, 154, 252) 0%, rgb(124, 106, 250) 100%);

}


.prosent__3::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 115px;
    position: absolute;
    z-index: 100;
    background: linear-gradient(90deg, rgb(200, 154, 252) 0%, rgb(124, 106, 250) 100%);

}


.prosent__4::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    left: 0px;
    top: 125px;
    position: absolute;
    z-index: 100;
    background: linear-gradient(250deg, rgb(200, 154, 252) 0%, rgb(124, 106, 250) 100%);

}


/*  FAST-START-END
==================== */




/*  GETWORK-START
==================== */
.getwork {
    margin-bottom: 200px;
}


.getwork__title {
    text-align: center;
    margin-bottom: 120px;

}


.getwork__wrapper {
    display: flex;
    justify-content: center;
    gap: 82px;
}


.getwork__item {
    text-align: center;
}


.getwork-img {
    margin-bottom: 60px;
}


.getwork__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
    max-width: 350px;
}


.getwork__text {
    opacity: .8;
    max-width: 360px;
}


/*  GETWORK-END
==================== */




/*  PARTNERS-START
==================== */
.partners {
    margin-bottom: 200px;
}


.partners--title{
    display: inline-block;
    margin-left: 120px;
}


.container {
}


.partners__title-block {
    position: relative;
    margin-bottom: 90px;
}


.partners__img {
    position: absolute;
    top: -30px;
    left: -17px;
    z-index: 100;
}


.partners__wrapper {

}


.partners__item__inner-top {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}



.partners__item__inner-top .partners__item:last-child{
    border-right: none;
}



.partners__item__inner-bottom .partners__item:last-child{
    border-right: none;
}


.partners__item__inner-bottom {
    display: flex;

}


.partners__item {
    padding: 30px 65px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}


.partners__item__img {
}


/*  PARTNERS-END
==================== */