<article class="article-about-us">
  <div class="main-title__inner main-title__inner--bc-wt">
    <h2 class="main-title">О нас</h2>
  </div>
  <div class="container">
    <ul class="about-us-list">
      <li class="about-us-info__item">
        <div class="info">
          <div class="info-name">Мы</div>
          <div class="info-number">10 лет</div>
          <div class="info-descr">на паллетном рынке</div>
        </div>
      </li>
      <li class="about-us-info__item">
        <div class="info">
          <div class="info-name">У нас</div>
          <div class="info-number">12</div>
          <div class="info-descr">складов по ЦФО</div>
        </div>
      </li>
      <li class="about-us-info__item">
        <div class="info">
          <div class="info-name">Доставка</div>
          <div class="info-number">24 ЧАСА</div>
          <div class="info-descr">в сутки, в любое время</div>
        </div>
      </li>
      <li class="about-us-info__item">
        <div class="info">
          <div class="info-name">У нас</div>
          <div class="info-number">50 +</div>
          <div class="info-descr">постоянных клиентов</div>
        </div>
      </li>
      <li class="about-us-info__item">
        <div class="info">
          <div class="info-name">Ежегодно</div>
          <div class="info-number">300 000 +</div>
          <div class="info-descr">единиц годовой оборот</div>
        </div>
      </li>
    </ul>
  </div>
</article>
