<section class="section-advantage">
  <div class="main-title__inner">
    <h2 class="main-title">Почему с нами выгодно</h2>
  </div>
  <div class="container">
    <div class="advantage__wrapper">
      <div class="advantage__item">
        <div class="advantage-num">01</div>
        <div class="advantage-title">наличие товара</div>
        <div class="advantage-descr">
          Подходящие поддоны есть всегда! Мы подберём необходимый паллет.
        </div>
      </div>
      <div class="advantage__item">
        <div class="advantage-num">02</div>
        <div class="advantage-title">СТАБИЛЬНОСТЬ</div>
        <div class="advantage-descr">
          Наша надежность подтверждена рекомендациями ведущих компаний.
        </div>
      </div>
      <div class="advantage__item">
        <div class="advantage-num">03</div>
        <div class="advantage-title">ПРОФЕССИОНАЛИЗМ</div>
        <div class="advantage-descr">
          Анализируем потребности и усовершенствуем услуги.
        </div>
      </div>
      <div class="advantage__item">
        <div class="advantage-num">04</div>
        <div class="advantage-title">КАЧЕСТВО</div>
        <div class="advantage-descr">
          У нас многоэтапный контроль качества продукции
        </div>
      </div>
      <div class="advantage__item">
        <div class="advantage-num">05</div>
        <div class="advantage-title">ЭКОНОМИЧНОСТЬ</div>
        <div class="advantage-descr">
          Знаем секреты экономии в области паллетной логистики. Сократите Ваши
          затраты!
        </div>
      </div>
      <div class="advantage__item">
        <div class="advantage-num">06</div>
        <div class="advantage-title">КРУГЛОСУТОЧНАЯ ДОСТАВКА</div>
        <div class="advantage-descr">
          Быстрая и аккуратная доставка собственным транспортом 24/7.
        </div>
      </div>
      <div class="advantage__item">
        <div class="advantage-num">07</div>
        <div class="advantage-title">ОТСРОЧКА ПЛАТЕЖА</div>
        <div class="advantage-descr">
          Мы готовы пойти на встречу нашим заказчикам.
        </div>
      </div>
      <div class="advantage__item">
        <div class="advantage-num">08</div>
        <div class="advantage-title">ОПЕРАТИВНОСТЬ</div>
        <div class="advantage-descr">
          Оперативный подход, и грамотно выстроенная логистика.
        </div>
      </div>
    </div>
  </div>
</section>
