<section class="article-contacts">
  <div class="main-title__inner">
    <h2 class="main-title">У вас остались вопросы?</h2>
  </div>
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__info">
        <img
          class="contacts-img"
          src="assets/images/support.png"
          alt="support-img"
        />
        <div class="contacts-img-text">
          мы с удовольствием ответим на все вопросы и проконсультируют по
          товарным позициям.
        </div>
        <div class="contacts-img-text--after"></div>
      </div>
      <div class="contacts__form-inner">
        <div class="contacts-form__title">Отправить заявку</div>
        <form class="contacts__form" action="/">
          <input class="contact__input" placeholder="Ваше имя" type="text" />
          <input
            class="contact__input"
            placeholder="Номер телефона"
            type="tel"
          />
          <input
            class="contact__input contact__input--area"
            placeholder="Введите текс"
          />
          <div class="contact-checkbox__wrapper">
            <input
              class="contact-checkbox"
              type="checkbox"
              id="contact-checkbox"
            />
            <label class="contact-label" for="contact-checkbox"
              >Даю согласие на обработку персональных данных</label
            >
          </div>
          <button class="contact__btn btn">Отправить</button>
        </form>
        <div class="contact-copyright">Ваши данные защищены</div>
      </div>
    </div>
  </div>
</section>
