<div class="container">
  <div class="header__wrapper">
    <div class="header-top">
      <div class="logo">
        <img class="logo-img" src="assets/images/logo.png" alt="logo" />
      </div>
      <ul class="informations">
        <li class="informations-item">
          <img
            src="assets/images/icons/map.svg"
            alt="icon"
            class="informations__icon"
          />
          <div class="informations-descr">ООО СТРОЙБРИГ ИНН: 7720484439</div>
        </li>
        <li class="informations-item">
          <img
            src="assets/images/icons/time.svg"
            alt="icon"
            class="informations__icon"
          />
          <div class="informations-descr">Пн-Вс с 9:00 до 20:00</div>
        </li>
        <li class="informations-item">
          <img
            src="assets/images/icons/letter.svg"
            alt="icon"
            class="informations__icon"
          />
          <a href="mailto:info@a-pallet.ru" class="informations-descr"
            >info@a-pallet.ru</a
          >
        </li>
      </ul>
      <div class="compamy-phone">
        <img
          src="assets/images/icons/phone.svg"
          alt="icon"
          class="compamy-phone__icon"
        />
        <a href="tel:+74951557397" class="compamy-phone__num"
          >+7 495 155 73 97</a
        >
      </div>
    </div>
    <div class="header-bottom">
      <nav class="nav nav__header">
        <ul class="nav-list nav-list__header">
          <li class="nav-item--br nav-item"><a class="nav__link" href="#">о нас</a></li>
          <li class="nav-item--br nav-item"><a class="nav__link" href="#">продукция</a></li>
          <li class="nav-item--br nav-item">
            <a class="nav__link" href="#">приемущества</a>
          </li>
          <li class="nav-item--br nav-item"><a class="nav__link" href="#">контакты</a></li>
        </ul>
      </nav>
      <div class="header-bottom__callback">
        <img
          src="assets/images/icons/callback.svg"
          alt="icon"
          class="header-bottom__callback-icon"
        />
        <div class="header-bottom__callback-descr">Обратный звонок</div>
      </div>
    </div>
  </div>
</div>
