<article class="hero-article">
  <div class="hero__wrapper">
    <h1 class="hero__title">Продажа поддонов Б/У в Москве</h1>
    <div class="hero__descr">
      Доставка осуществляется круглосуточно, в любое удобное время
    </div>
    <button class="hero__slider-next"></button>
    <button class="hero__slider-prev"></button>
    <button class="hero__btn btn btn--primary">Подробнее</button>
  </div>
  <ul class="slider-circle">
    <li class="slider-circle__item"></li>
    <li class="slider-circle__item"></li>
    <li class="slider-circle__item"></li>
  </ul>
</article>
