<article class="article-products">
  <div class="main-title__inner">
        <h2 class="main-title">ДЕРЕВЯННЫЕ ПОДДОНЫ Б/У</h2>
  </div>
  <div class="products">
  <div class="container">
    <ul class="product-list">
      <li class="product-item">
          <div class="product-img__wrapper">
              <img class="product-img" src="assets/images/products/1.png" alt="" />
          </div>
        <div class="product-name">ОБЛЕГЧЕННЫЙ ПОДДОН 1200X800</div>
        <div class="product-descr">
          <div class="product-size">Размер: 1200х800 мм тонкий</div>
          <div class="product-carrying-capacity">
            Грузоподъемность: 600-800 кг
          </div>
          <div class="product-board-thickness">Толщина доски: 15-17мм</div>
        </div>
        <button class="btn btn--primary product-btn">Заказать</button>
      </li>
      <li class="product-item">
          <div class="product-img__wrapper">
              <img class="product-img" src="assets/images/products/2.png" alt="" />
          </div>
        <div class="product-name">ТИПОВОЙ 1-Й СОРТ 1200X800</div>
        <div class="product-descr">
          <div class="product-size">Размер: 1200х800 мм</div>
          <div class="product-carrying-capacity">Грузоподъемность: 1500 кг</div>
          <div class="product-board-thickness">Толщина доски: 22мм</div>
        </div>
        <button class="btn btn--primary product-btn">Заказать</button>
      </li>
      <li class="product-item">
          <div class="product-img__wrapper product-img__wrapper--pt">
              <img class="product-img" src="assets/images/products/3.png" alt="" />
          </div>
        <div class="product-name">ТИПОВОЙ 2-Й СОРТ 1200X800</div>
        <div class="product-descr">
          <div class="product-size">Размер: 1200х800 мм</div>
          <div class="product-carrying-capacity">Грузоподъемность: 1500 кг</div>
          <div class="product-board-thickness">Толщина доски: 22мм</div>
        </div>
        <button class="btn btn--primary product-btn">Заказать</button>
      </li>
      <li class="product-item">
          <div class="product-img__wrapper">
              <img class="product-img" src="assets/images/products/4.png" alt="" />
          </div>
        <div class="product-name">ЕВРОПОДДОН 1-Й СОРТ 1200X800</div>
        <div class="product-descr">
          <div class="product-size">Размер: 1200х800 мм</div>
          <div class="product-carrying-capacity">Грузоподъемность: 2500 кг</div>
          <div class="product-board-thickness">Толщина доски: 22-25мм</div>
        </div>
        <button class="btn btn--primary product-btn">Заказать</button>
      </li>
      <li class="product-item">
          <div class="product-img__wrapper">
              <img class="product-img" src="assets/images/products/5.png" alt="" />
          </div>
        <div class="product-name">ЕВРОПОДДОН 2-Й СОРТ 1200X800</div>
        <div class="product-descr">
          <div class="product-size">Размер: 1200х800 мм</div>
          <div class="product-carrying-capacity">Грузоподъемность: 2500 кг</div>
          <div class="product-board-thickness">Толщина доски: 22-25мм</div>
        </div>
        <button class="btn btn--primary product-btn">Заказать</button>
      </li>
      <li class="product-item">
          <div class="product-img__wrapper">
              <img class="product-img" src="assets/images/products/6.png" alt="" />
          </div>
        <div class="product-name">ПЛОЩАДКА 1200X1000</div>
        <div class="product-descr">
          <div class="product-size">Размер: 1200х1000 мм</div>
          <div class="product-carrying-capacity">
            Грузоподъемность: 1500-2000 кг
          </div>
        </div>
        <button class="btn btn--primary product-btn">Заказать</button>
      </li>
    </ul>
  </div>
  </div>
</article>

