.Services__title{
  font-size: 45px;
  font-weight:700;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 15px;
}


.Services__content p{
  font-size:23px;
  font-weight: 400;
  color: 000;
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 60px;
}


.our_services__wrapper{
  width: 33.3333333%;
  display: flex;
  flex-direction: row;
}


.works__photo{
  padding-right: 20px;


}


.works__photo p{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5px;
  padding-top: 21px;

}


.works__photo:last-child{
  padding-right: 0px;
}


.works__plus{
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
}


.works__plus:hover{
  opacity: 1;
}


.services__block__title{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .1em;
  color: #000;
  padding-bottom: 15px;

}


.services__block__text{
  font-size: 18px;
  font-weight: 400px;
  color: #B7B7B7;

}


.services__block{
  border: 2px solid #333;
}


.img__call__block{
  padding-bottom: 21px;
}


/* .services__information{
  width: 33.3333333%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */


.services__block{
  padding: 39px 48px 37px 39px;

}
