.contacts{
  background-image: url('/src/img/map.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12.8rem 0;

  @include breakpoint($md){
    padding: 9rem 0;
  }
}

.contacts__inner{
  display: flex;
  justify-content: flex-end;

  @include breakpoint($md){
    justify-content: center;
  }
}

.contact__item{
  background-color: #ADDDDE;
  padding: 3rem;
  width: 47.7rem;
  display: flex;
  flex-direction: column;

}

.contact-link{
  color: var(--color-black);
  margin: 1rem 0rem;
}